<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.DpApTaskInfoMapper">


    <resultMap id="WTaskInfoResultAlone" type="com.skyon.project.system.domain.eye.DpApTaskInfo">
        <id property="taskInfoNo" column="TASK_INFO_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="queueId" column="queue_Id"/>
        <result property="queueName" column="queue_Name"/>
        <result property="publishDepartment" column="publish_Department"/>
        <result property="testSubType" column="TEST_SUB_TYPE"/>
        <result property="doneDate" column="DONE_DATE"/>
        <result property="status" column="run_STATUS"/>
        <result property="limits" column="LIMITS"/>
        <result property="sysRiskLevel" column="sys_risk_Level"/>
        <result property="isManualInput" column="is_Manual_Input"/>
        <result property="custManager" column="cust_Manager"/>

        <result property="riskTime" column="RISK_TIME"/>
        <result property="warnRiskLevel" column="WARN_RISK_LEVEL"/>
        <result property="ruleLevel" column="RULE_LEVEL"/>
        <result property="scoreLevel" column="SCORE_LEVEL"/>
        <result property="signalSource" column="SIGNAL_SOURCE"/>
        <result property="channel" column="channel"/>
        <result property="riskCustNum" column="risk_cust_num"/>

        <result property="riskComfType" column="RISK_COMF_TYPE" />
        <result property="riskControlMeasures" column="risk_Control_Measures" />
        <result property="personalRiskLevel" column="PERSONAL_RISK_LEVEL" />
        <result property="checkResult" column="CHECK_RESULT" />

        <result property="isProprietary" column="is_Proprietary"/>

    </resultMap>

    <resultMap id="DpApTaskInfoResult" type="com.skyon.project.system.domain.eye.DpApTaskInfo">
        <id property="taskInfoNo" column="TASK_INFO_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="queueId" column="queue_Id"/>
        <result property="queueName" column="queue_Name"/>
        <result property="publishDepartment" column="publish_Department"/>
        <result property="testSubType" column="TEST_SUB_TYPE"/>
        <result property="doneDate" column="DONE_DATE"/>
        <result property="status" column="STATUS"/>
        <result property="limits" column="LIMITS"/>
        <result property="sysRiskLevel" column="sys_Risk_Level"/>
        <result property="isManualInput" column="is_Manual_Input"/>
        <result property="custManager" column="cust_Manager"/>
        <result property="isProprietary" column="is_Proprietary"/>
        <result property="riskCustNum" column="risk_cust_num"/>
        <result property="channel" column="channel"/>
        <result property="riskComfType" column="RISK_COMF_TYPE" />
        <result property="riskControlMeasures" column="risk_Control_Measures" />
        <result property="personalRiskLevel" column="PERSONAL_RISK_LEVEL" />
        <result property="checkResult" column="CHECK_RESULT" />
        <result property="trackTime" column="track_Time" />
        <association property="dpApCustInfo"  column="cust_no"
                     select="com.skyon.project.system.mapper.eye.DpApCustInfoMapper.getDpApCustInfoByNo"/>
        <collection property="bondInfoList" ofType="TBondInfo" column="task_Info_No"
                    select="com.skyon.project.system.mapper.eye.TBondInfoMapper.selectTBondInfos" />
        <collection property="warnSignals" ofType="DpApWarningSign" column="task_Info_No"
                    select="com.skyon.project.system.mapper.eye.DpApWarningSignMapper.selectDpApWarningSign"/>
    </resultMap>

	<select id="getWTaskInfoByList1" resultType="DpApTaskInfo" resultMap="DpApTaskInfoResult">
        select * from DP_AP_task_info
        where TASK_INFO_NO in
        <foreach collection="collection" item="set" open="(" close=")" separator=",">
            #{set}
        </foreach>
        and role = '预警认定'
    </select>

    <select id="getWTaskInfoListByRole" parameterType="WarningTaskListVo" resultType="map">
    select i.task_no,i.warning_object_name,i.warning_object_category,i.task_status,i.task_type,
        i.sys_risk_level,
        COUNT(CASE WHEN s.warning_level = '01' THEN 1 ELSE NULL END) AS oneLevelCount,
        COUNT(CASE WHEN warning_level = '02' THEN 1 ELSE NULL END) AS twoLevelCount,
        COUNT(CASE WHEN warning_level = '03' THEN 1 ELSE NULL END) AS threeLevelCount,
        o.ad_sub_bra, o.ad_bra,i.task_start_time,i.task_deadline,o.warning_object_category
    from SE_WF_TASK_INFO i
    left join SE_WF_WARNING_OBJECT o on i.warning_object_id = o.warning_object_id
    left join Se_Wf_Warning_Signs s on i.task_id = s.task_id where
        <if test="taskHandler != null and taskHandler != ''">
            i.task_handler = #{taskHandler}
        </if>
        <if test="taskNo != null and taskNo != ''">
            AND i.task_no = #{taskNo}
        </if>
        <if test="warningObjectName != null and warningObjectName != ''">
            AND o.warning_object_name = #{warningObjectName}
        </if>
        <if test="adBra != null and adBra != ''">
            AND o.ad_bra = #{adBra}
        </if>
        <if test="adSubBra != null and adSubBra != ''">
            AND o.ad_sub_bra = #{adSubBra}
        </if>
        <if test="taskType != null and taskType != ''">
            AND i.task_type = #{taskType}
        </if>
        <if test="taskStatus != null and taskStatus != ''">
            AND i.task_status = #{taskStatus}
        </if>
    group by i.task_no,i.warning_object_name,i.warning_object_category,i.task_status,i.task_type,i.sys_risk_level,
    o.ad_sub_bra, o.ad_bra,i.task_start_time,i.task_deadline,o.warning_object_category
    </select>

    <select id="selectDpApTaskInfoByTaskInfoNo" resultMap="DpApTaskInfoResult"
            resultType="com.skyon.project.system.domain.eye.DpApTaskInfo">
        select * from DP_AP_task_info
        where task_info_no = #{taskInfoNo}
    </select>

    <select id="selectWTaskInfoByCustNo" resultType="DpApTaskInfo" resultMap="WTaskInfoResultAlone">
        select * from DP_AP_task_info where CUST_NO = #{custNo}
    </select>

    <select id="getWTaskInfoListByManual" resultType="DpApTaskInfo" resultMap="DpApTaskInfoResult">
        select * from DP_AP_task_info where is_manual_input='1'
    </select>

    <select id="selectAllTaskInfoNo" resultType="String">
        select TASK_NO from SE_WF_TASK_INFO
    </select>


    <select id="getWTaskInfoListManualByCustNo" resultType="DpApTaskInfo" resultMap="DpApTaskInfoResult">
        select * from DP_AP_task_info t
        left join t_bond_info s on t.task_info_no = s.task_info_no
        where t.is_manual_input='1' and t.cust_no = #{custNO}
    </select>

    <select id="selectIsProprietary" resultType="String">
        select TASK_INFO_NO from DP_AP_task_info t
        where run_status = '01' and is_Proprietary = '1'
    </select>

    <select id="selectIsNoProprietary" resultType="String">
        select TASK_INFO_NO from DP_AP_task_info t
        where run_status = '01' and is_Proprietary = '2'
    </select>

    <update id="updateRunStatusByNo" parameterType="String">
        update DP_AP_task_info set
        <if test="riskControlMeasures != null || riskControlMeasures != ''">risk_Control_Measures=#{riskControlMeasures},</if>
        <if test="personalRiskLevel != null">PERSONAL_RISK_LEVEL=#{personalRiskLevel},</if>
        <if test="checkResult != null">CHECK_RESULT=#{checkResult},</if>
        run_status = '02'
         where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <update id="updateRunStatusByNoAndTrack" parameterType="String">
        update DP_AP_task_info set run_status = '02' where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <update id="celarRunStatusByNo" parameterType="String">
        update DP_AP_task_info set run_status = '01' where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <insert id="insertWTaskInfo" parameterType="DpApTaskInfo" >
        insert into DP_AP_task_info (TASK_INFO_NO,cust_Name,cust_No,branch,cust_Manager,is_manual_input)
        values (DP_AP_task_info_sequence.nextval,#{custName},#{custNo},#{branch},#{custManager},#{isManualInput})
    </insert>



</mapper>