<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.wf.SeWfTaskExecuteFeedbackMapper">

	<resultMap id="SeWfTaskExecuteFeedbackResult" type="com.skyon.project.system.domain.eye.wf.SeWfTaskExecuteFeedback">
		<id property="innerId" column="inner_id"/>
		<result property="lpOrgNo" column="lp_org_no"/>
		<result property="warningObjectId" column="warning_object_id"/>
		<result property="taskNo" column="task_no"/>
		<result property="workingStatus" column="working_status"/>
		<result property=" currHandlerId" column=" curr_handler_id"/>
		<result property=" currRoleId" column=" curr_role_id"/>
		<result property=" currProcSteps" column=" curr_proc_steps"/>
		<result property="sysRiskLevel" column="sys_risk_level"/>
		<result property="riskLevel" column="risk_level"/>
		<result property="riskIdentify" column="risk_identify"/>
		<result property="identifyConclusions" column="identify_conclusions"/>
		<result property="identifyFile" column="identify_file"/>
		<result property="isFinish" column="is_finish"/>
		<result property="traceDate" column="trace_date"/>
		<result property="nextTraceDate" column="next_trace_date"/>
		<result property="riskChanges" column="risk_changes"/>
		<result property="traceFile" column="trace_file"/>
		<result property="disposalTraceFeedback" column="disposal_trace_feedback"/>
		<result property=" currentControlMeasures" column=" current_control_measures"/>
		<result property="otherControlMeasures" column="other_control_measures"/>
		<result property="oneFamilyOnePolicy" column="one_family_one_policy"/>
		<result property=" controlFile" column=" control_file"/>
		<result property="isNewDisposalTrace" column="is_new_disposal_trace"/>
		<result property="rmark" column="rmark"/>
		<result property=" createId" column=" create_id"/>
		<result property=" createName" column=" create_name"/>
		<result property=" createTime" column=" create_time"/>
		<result property="updateId" column="update_id"/>
		<result property="updateName" column="update_name"/>
		<result property="updateTime" column="update_time"/>
		<result property="delFlag" column="del_flag"/>
	</resultMap>

	<insert id="insertTaskExecuteFeedback" parameterType="SeWfTaskExecuteFeedback">
		<selectKey  keyProperty="taskExecuteId" resultType="String" order="BEFORE">
			select EXECUTE_FEEDBACK_SEQUENCE.nextval as taskExecuteId from dual
		</selectKey>
		insert into SE_WF_TASK_EXECUTE_FEEDBACK(
		<if test="innerId!= null and innerId!=0">inner_id,</if>
		<if test="lpOrgNo!= null and lpOrgNo!=0">lp_org_no,</if>
		<if test="warningObjectId!= null and warningObjectId!=0">warning_object_id,</if>
		<if test="taskNo!= null and taskNo!=0">task_no,</if>
		<if test="workingStatus!= null and workingStatus!=0">working_status,</if>
		<if test="currHandlerId!= null and currHandlerId!=0">curr_handler_id,</if>
		<if test="currRoleId!= null and currRoleId!=0">curr_role_id,</if>
		<if test="currProcSteps!= null and currProcSteps!=0">curr_proc_steps,</if>
		<if test="sysRiskLevel!= null and sysRiskLevel!=0">sys_risk_level,</if>
		<if test="riskLevel!= null and riskLevel!=0">risk_level,</if>
		<if test="riskIdentify!= null and riskIdentify!=0">risk_identify,</if>
		<if test="identifyConclusions!= null and identifyConclusions!=0">identify_conclusions,</if>
		<if test="identifyFile!= null and identifyFile!=0">identify_file,</if>
		<if test="isFinish!= null and isFinish!=0">is_finish,</if>
		<if test="traceDate!= null and traceDate!=0">trace_date,</if>
		<if test="nextTraceDate!= null and nextTraceDate!=0">next_trace_date,</if>
		<if test="riskChanges!= null and riskChanges!=0">risk_changes,</if>
		<if test="traceFile!= null and traceFile!=0">trace_file,</if>
		<if test="disposalTraceFeedback!= null and disposalTraceFeedback!=0">disposal_trace_feedback,</if>
		<if test="currentControlMeasures!= null and currentControlMeasures!=0">current_control_measures,</if>
		<if test="otherControlMeasures!= null and otherControlMeasures!=0">other_control_measures,</if>
		<if test="oneFamilyOnePolicy!= null and oneFamilyOnePolicy!=0">one_family_one_policy,</if>
		<if test="controlFile!= null and controlFile!=0">control_file,</if>
		<if test="isNewDisposalTrace!= null and isNewDisposalTrace!=0">is_new_disposal_trace,</if>
		<if test="rmark!= null and rmark!=0">rmark,</if>
		<if test="createId!= null and createId!=0">create_id,</if>
		<if test="createName!= null and createName!=0">create_name,</if>
		<if test="updateId!= null and updateId!=0">update_id,</if>
		<if test="updateName!= null and updateName!=0">update_name,</if>
		<if test="updateTime!= null and updateTime!=0">update_time,</if>
		create_time,delete_logo
		)values(
		<if test="innerId!= null and innerId!=0">#{innerId},</if>
		<if test="lpOrgNo!= null and lpOrgNo!=0">#{lpOrgNo},</if>
		<if test="warningObjectId!= null and warningObjectId!=0">#{warningObjectId},</if>
		<if test="taskNo!= null and taskNo!=0">#{taskNo},</if>
		<if test="workingStatus!= null and workingStatus!=0">#{workingStatus},</if>
		<if test="currHandlerId!= null and currHandlerId!=0">#{currHandlerId},</if>
		<if test="currRoleId!= null and currRoleId!=0">#{currRoleId},</if>
		<if test="currProcSteps!= null and currProcSteps!=0">#{currProcSteps},</if>
		<if test="sysRiskLevel!= null and sysRiskLevel!=0">#{sysRiskLevel},</if>
		<if test="riskLevel!= null and riskLevel!=0">#{riskLevel},</if>
		<if test="riskIdentify!= null and riskIdentify!=0">#{riskIdentify},</if>
		<if test="identifyConclusions!= null and identifyConclusions!=0">#{identifyConclusions},</if>
		<if test="identifyFile!= null and identifyFile!=0">#{identifyFile},</if>
		<if test="isFinish!= null and isFinish!=0">#{isFinish},</if>
		<if test="traceDate!= null and traceDate!=0">#{traceDate},</if>
		<if test="nextTraceDate!= null and nextTraceDate!=0">#{nextTraceDate},</if>
		<if test="riskChanges!= null and riskChanges!=0">#{riskChanges},</if>
		<if test="traceFile!= null and traceFile!=0">#{traceFile},</if>
		<if test="disposalTraceFeedback!= null and disposalTraceFeedback!=0">#{disposalTraceFeedback},</if>
		<if test="currentControlMeasures!= null and currentControlMeasures!=0">#{currentControlMeasures},</if>
		<if test="otherControlMeasures!= null and otherControlMeasures!=0">#{otherControlMeasures},</if>
		<if test="oneFamilyOnePolicy!= null and oneFamilyOnePolicy!=0">#{oneFamilyOnePolicy},</if>
		<if test="controlFile!= null and controlFile!=0">#{controlFile},</if>
		<if test="isNewDisposalTrace!= null and isNewDisposalTrace!=0">#{isNewDisposalTrace},</if>
		<if test="rmark!= null and rmark!=0">#{rmark},</if>
		<if test="createId!= null and createId!=0">#{createId},</if>
		<if test="createName!= null and createName!=0">#{createName},</if>
		<if test="updateId!= null and updateId!=0">#{updateId},</if>
		<if test="updateName!= null and updateName!=0">#{updateName},</if>
		<if test="updateTime!= null and updateTime!=0">#{updateTime},</if>
		sysdate,0
		)
	</insert>


	<select id="getLastTaskExecuteFeedback" parameterType="String" resultType="SeWfTaskExecuteFeedback" resultMap="SeWfTaskExecuteFeedbackResult">
		select e.*  from (select f.* from SE_WF_TASK_EXECUTE_FEEDBACK f,SE_WF_TASK_INFO g where f.task_no = g.task_id and g.task_no = #{taskNo} order by f.create_time desc) e where rownum=1
	</select>

	<select id="getAllSeWfTaskExecuteFeedbackByTaskNo" parameterType="String" resultType="SeWfTaskExecuteFeedback" resultMap="SeWfTaskExecuteFeedbackResult">
		select f.* from SE_WF_TASK_EXECUTE_FEEDBACK f,SE_WF_TASK_INFO g where f.task_no = g.task_id and g.task_no = #{taskNo} order by f.create_time desc
	</select>

</mapper> 