<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.wf.SeWfTaskExecuteFeedbackMapper">

	<resultMap id="SeWfTaskExecuteFeedbackResult" type="com.skyon.project.system.domain.eye.wf.SeWfTaskExecuteFeedback">
		<id property="taskExecuteId" column="TASK_EXECUTE_ID"/>
		<result property="taskId" column="TASK_ID"/>
		<result property="taskType" column="TASK_TYPE"/>
		<result property="riskLevel" column="RISK_LEVEL"/>
		<result property="pdRiskLevel" column="PD_RISK_LEVEL"/>
		<result property="partnerRiskLevel" column="PARTNER_RISK_LEVEL"/>
		<result property="attachedFile" column="ATTACHED_FILE"/>
		<result property="currentRiskChanges" column="CURRENT_RISK_CHANGES"/>
		<result property="currentConclusions" column="CURRENT_CONCLUSIONS"/>
		<result property="currentFeedback" column="CURRENT_FEEDBACK"/>
		<result property="currentControlMeasures" column="CURRENT_CONTROL_MEASURES"/>
		<result property="otherControlMeasures" column="OTHER_CONTROL_MEASURES"/>
		<result property="oneFamilyOnePolicy" column="ONE_FAMILY_ONE_POLICY"/>
		<result property="isFinish" column="IS_FINISH"/>
		<result property="taskHandler" column="TASK_HANDLER"/>
		<result property="taskHandlePost" column="TASK_HANDLE_POST"/>
		<result property="processName" column="PROCESS_NAME"/>
		<result property="lastProcessName" column="LAST_PROCESS_NAME"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>

	<insert id="insertTaskExecuteFeedback" parameterType="SeWfTaskExecuteFeedback">
		<selectKey  keyProperty="taskExecuteId" resultType="String" order="BEFORE">
			select EXECUTE_FEEDBACK_SEQUENCE.nextval as taskExecuteId from dual
		</selectKey>
		insert into SE_WF_TASK_EXECUTE_FEEDBACK(
		<if test="taskExecuteId != null and taskExecuteId != 0">task_execute_id,</if>
		<if test="taskId != null and taskId != ''">task_id,</if>
		<if test="taskType != null and taskType != ''">task_type,</if>
		<if test="riskLevel != null and riskLevel != ''">risk_level,</if>
		<if test="partnerRiskLevel != null and partnerRiskLevel != ''">partner_risk_level,</if>
		<if test="attachedFile != null and attachedFile != ''">attached_file,</if>
		<if test="currentRiskChanges != null and currentRiskChanges != ''">current_risk_changes,</if>
		<if test="currentConclusions != null and currentConclusions != ''">current_conclusions,</if>
		<if test="currentFeedback != null and currentFeedback != ''">current_feedback,</if>
		<if test="currentControlMeasures != null and currentControlMeasures != ''">current_control_measures,</if>
		<if test="otherControlMeasures != null and otherControlMeasures != ''">other_control_measures,</if>
		<if test="oneFamilyOnePolicy != null and oneFamilyOnePolicy != ''">one_family_one_policy,</if>
		<if test="isFinish != null and isFinish != ''">is_finish,</if>
		<if test="remark != null and remark != ''">remark,</if>
		<if test="lpOrgNo != null and lpOrgNo != ''">lp_org_no,</if>
		create_time,delete_logo
		)values(
		<if test="taskExecuteId != null and taskExecuteId != ''">#{taskExecuteId},</if>
		<if test="taskId != null and taskId != ''">#{taskId},</if>
		<if test="taskType != null and taskType != ''">#{taskType},</if>
		<if test="riskLevel != null and riskLevel != ''">#{riskLevel},</if>
		<if test="partnerRiskLevel != null and partnerRiskLevel != ''">#{partnerRiskLevel},</if>
		<if test="attachedFile != null and attachedFile != ''">#{attachedFile},</if>
		<if test="currentRiskChanges != null and currentRiskChanges != ''">#{currentRiskChanges},</if>
		<if test="currentConclusions != null and currentConclusions != ''">#{currentConclusions},</if>
		<if test="currentFeedback != null and currentFeedback != ''">#{currentFeedback},</if>
		<if test="currentControlMeasures != null and currentControlMeasures != ''">#{currentControlMeasures},</if>
		<if test="otherControlMeasures != null and otherControlMeasures != ''">#{otherControlMeasures},</if>
		<if test="oneFamilyOnePolicy != null and oneFamilyOnePolicy != ''">#{oneFamilyOnePolicy},</if>
		<if test="isFinish != null and isFinish != ''">#{isFinish},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="lpOrgNo != null and lpOrgNo != ''">#{lpOrgNo},</if>
		sysdate,0
		)
	</insert>


	<select id="getLastTaskExecuteFeedback" parameterType="String" resultType="SeWfTaskExecuteFeedback" resultMap="SeWfTaskExecuteFeedbackResult">
		select e.*  from (select f.* from SE_WF_TASK_EXECUTE_FEEDBACK f,SE_WF_TASK_INFO g where f.task_id = g.task_id and g.task_no = #{taskNo} order by f.create_time desc) e where rownum=1
	</select>

	<select id="getAllSeWfTaskExecuteFeedbackByTaskNo" parameterType="String" resultType="SeWfTaskExecuteFeedback" resultMap="SeWfTaskExecuteFeedbackResult">
		select f.* from SE_WF_TASK_EXECUTE_FEEDBACK f,SE_WF_TASK_INFO g where f.task_id = g.task_id and g.task_no = #{taskNo} order by f.create_time desc
	</select>

</mapper> 